body{
	background-color: #28292e;
	color: #FFFFFF;
	font: 16px Roboto, Arial, sans-serif;
}
div.body-wrapper{
	padding: 80px;
}
div.top-title{
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	margin: auto;
	width: 70%;
}
div.content{
	margin: auto;
	width: 70%;
}
div.padding80px{
	padding-top: 80px;
}
div.citations{
	font-size: 12px;
}
td.tablesidediv1{
	width: 35%;
	vertical-align: text-top;
}
td.addpaddingleft{
	padding-left: 10px;
}
td{
	padding: 0px;
}
img{
	padding: 10px;
}
a{
	color: #FFFFFF;
	text-decoration: underline;
}
