body{
	background-color: #28292e;
	color: #FFFFFF;
	font: 16px Roboto, Arial, sans-serif;
}
div.body-wrapper{
	padding: 80px;
}
div.top-title{
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	margin: auto;
	width: 70%;
}
div.citations{
	font-size: 12px;
}
a{
	color: #FFFFFF;
	text-decoration: underline;
}
